.form {
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
}
.form-wrapper {
  padding: 1rem;
  display: flex;
  margin: 100px;
  border-bottom: 5px solid rgb(26, 188, 156);
}
.form-wrappernf {
  padding-bottom: 3vh;
  margin: 10px;
  border-bottom: 5px solid rgb(26, 188, 156);
}

.assetInput {
  margin-top: 1vh;
  width: 12vw;
  border: none;
}

.buy1 {
  font-size: 5vh;
  font-weight: bold;
  padding-bottom: 2vh;
  margin: 10px;
  border-bottom: 5px solid rgb(26, 188, 156);
}

.buyInput {
  margin-top: 1vh;
  width: 30vw;
  border: none;
}

.bt {
  background-color: transparent;
  border: none;

  font-size: 2vh;
  font-weight: bold;
}

.bt:hover {
  transform: scale(1.1);
}

.form input {
  width: 200px;
  margin: 10px auto;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #c5f6fa;
}

.button {
  width: 50px;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-left: 1rem;
  background: #22b8cf;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.button-green {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 15px;
  border-radius: 3px;
  margin-left: 1rem;
  margin: 10px auto;
  background: #22b8cf;
  color: white;
  cursor: pointer;
}
.button-red {
  font-size: 20px;
  background: red;
}
.button-blue {
  font-size: 20px;
  background: blue;
}
.button-red-small {
  width: 30px;
  font-size: 15px;
  background: red;
}
.button-blue-small {
  width: 30px;
  font-size: 15px;
  background: blue;
}
.button-gray {
  font-size: 20px;
  background: gray;
}
.button:hover {
  background: gray;
}
.button-green:hover {
  background: gray;
}

.centered {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.button-centered {
  width: 60vw;
  margin-left: 20vw;
}
.right {
  float: right;
  padding-top: 4vh;
  padding-right: 10px;
}

.bButton {
  color: white;
  width: 20vw;
  background-color: rgb(204, 119, 119);
  border: none;
  border-radius: 3px;
  margin-right: 1vh;
  padding: 0.5vh;
  height: 4vh;
  margin-top: 1vh;
  font-size: 2vh;
  margin-left: 1vh;
}

.sButton {
  color: white;
  width: 20vw;
  background-color: rgb(119, 135, 204);
  border: none;
  border-radius: 3px;
  margin-right: 1vh;
  padding: 0.5vh;
  height: 4vh;
  margin-top: 1vh;
  font-size: 2vh;
  margin-left: 1vh;
}

.cButton {
  color: white;
  width: 20vw;
  background-color: rgb(184, 184, 184);
  border: none;
  border-radius: 3px;
  padding: 0.5vh;
  height: 4vh;
  margin-top: 1vh;
  font-size: 2vh;
}
.bButton:hover {
  filter: brightness(90%);
}
.cButton:hover {
  filter: brightness(90%);
}
