.form {
  text-align: center; /* Quirks Mode 를 위한 가운데 정렬 */
}
.form-wrapper {
  padding: 1rem;
  display:flex;
  margin:10px;
  border-bottom: 1px solid #22b8cf;
}
.form input {
    width: 200px; /* 정렬하려는 요소의 넓이를 반드시 지정 */ 
    margin: 10px auto;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #c5f6fa;
}

.button{
    width: 50px; /* 정렬하려는 요소의 넓이를 반드시 지정 */ 
    display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  background: #22b8cf;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.button-red-big{

}
.button-blue-big{

}
.button-small { font-size: 8px;} 
.button-red{font-size:20px; background: red;}
.button-blue{font-size:20px; background: blue;}
.button-gray{font-size:20px; background: gray;}
.button:hover {
  background: #3bc9db;
}

.centered { display: table; margin-left: auto; margin-right: auto; }
.button-centered{display:flex; justify-content:center; margin-left: auto; margin-right: auto; }

