.Login {
  font-size: 11vh;
  font-weight: bold;
  text-align: center;
}

.Login2 {
  font-size: 1vh;
  font-weight: bold;
  text-align: center;
}

.LInput {
  width: 60vw;
  height: 5vh;
  font-size: 2vh;
  border: 1px solid gray;
  border-radius: 3px;
}

.Buttons {
  width: 55vw;
  padding-left: 22.5vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.LoginButton {
  font-size: 2vh;
  width: 25vw;
  color: white;
  background-color: rgb(26, 188, 156);
  border: none;
  border-radius: 3px;
  padding: 10px;
}

.LoginButton:hover {
  filter: brightness(90%);
}

.LRegisterButton:hover {
  filter: brightness(90%);
}

.LRegisterButton {
  font-size: 2vh;
  width: 25vw;
  color: white;
  background-color: rgb(184, 184, 184);
  border: none;
  border-radius: 3px;
  padding: 10px;
}

.shine {
  animation-duration: 1s;
  animation-name: good;
  animation-fill-mode: forwards;
}

@keyframes good {
  from {
  }
  70% {
    color: rgb(231, 179, 66);
    filter: brightness(105%);
  }
  to {
    color: rgb(231, 179, 66);
  }
}

.dollarAlign {
  text-align: center;
}
