.align {
  display: flex;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}
.box_account {
  background-color: rgb(231, 179, 66);
  font-size: 4vh;
  text-align: center;
  width: 40vw;
  height: 40vw;

  border-radius: 50%;
  margin: 10px;

  font-weight: bold;

  line-height: 40vw;

  animation-duration: 1s;
  animation-name: good;
  animation-fill-mode: forwards;
}

.box_account:hover {
  animation-duration: 0.5s;
  animation-name: mm;
  animation-fill-mode: forwards;

  cursor: pointer;
}

@keyframes good {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.box_contest {
  background-color: rgb(26, 188, 156);
  text-align: center;
  font-size: 3vh;
  border-radius: 10px;
  margin: 10px;
  padding: 2vh;
}

.box_event {
  background-color: rgb(211, 211, 211);
  text-align: center;
  font-size: 3vh;
  border-radius: 10px;
  margin: 10px;
  padding: 2vh;
}

.box_contest:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.box_event:hover {
  filter: brightness(90%);
  cursor: pointer;
}

@keyframes mm {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}