.Navigation1 {
  position: fixed;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 6vh;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(221, 221, 221);
}

.Navigation2 {
  font-size: 1vh;
  font-weight: bold;
  color: black;
  text-decoration-line: none;
  text-align: center;
}

.icon:hover {
  color: rgb(231, 179, 66);
}
