.ranking {
  text-align: center;
  width: 80vw;
  padding-left: 12vw;
}

.ranking1 {
  font-weight: bold;
  text-align: center;
  font-size: 3.5vh;
  margin-left: 5vw;
}

.ranking2 {
  font-size: 3vh;
  font-weight: bold;

  height: 6vh;
  width: 60vw;
  background-color: black;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;

  padding-left: 5vw;
  padding-right: 10vw;
}

.top3 {
  font-size: 3vh;
  font-weight: bold;
  line-height: 170%;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  color: black;
  background-color: rgb(26, 188, 156);
}

.top1 {
  display: flex;
  padding-left: 22.5vw;
}

.tops {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  padding-left: 5vw;
}

.ranking3 {
  font-size: 2.5vh;
  font-weight: bold;
  height: 4vh;
  width: 60vw;
  background-color: rgb(211, 211, 211);
  border-radius: 20px;

  display: flex;
  justify-content: space-between;

  padding-left: 5vw;
  padding-right: 10vw;
}

.top3:hover {
  animation-duration: 0.5s;
  animation-name: mm;
  animation-fill-mode: forwards;
}

.ranking3:hover {
  background-color: rgb(184, 184, 184);
}

@keyframes mm {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}