.StockName {
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    padding-bottom: 2vh;
    border-bottom: 5px solid rgb(26, 188, 156);
  }
  
  .StockCurrentPrice {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 3vh;
    font-weight: bold;
  }
  
  .StockNow {
    margin: 10px;
  }
  
  .buttonsss {
    font-size: 2vh;
    font-weight: bold;
    padding: 0.5vh;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 25vw;
    border-radius: 5px;
  }
  
  .buttonsss:hover {
    background-color: rgb(231, 179, 66);
  }
  .buttons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
  }
  
  .chart-wrapper {
    height: 19vh;
    padding: 1rem;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .stkinfo {
    margin: 10px;
    font-size: 2.5vh;
    font-weight: bold;
  }
  
  .goju-wrapper {
    margin: 10px;
  }
  
  .gojuga {
    font-size: 2vh;
    font-weight: bold;
    width: 20vw;
    display: inline-block;
    margin-right: 10vw;
  }
  
  .centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }
  
  .square {
    border: 0;
    width: 80px;
    padding: 0px;
    margin-top: 90px;
    margin-left: calc(50% - 40px);
    margin-left: -webkit-calc(50% - 40px);
    margin-left: -moz-calc(50% - 40px);
  }
  
  .spin {
    position: absolute;
    top: 45vh;
    left: 45vw;
  
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
  
    border: solid 5px;
    border-top-color: transparent;
    border-bottom-color: transparent;
  
    border-right-color: rgb(231, 179, 66);
    border-left-color: rgb(26, 188, 156);
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }